$main-minus-two: #666B6E;
$main-minus-one: #25323B;
$main-color: #1F2021; /* rgb(31,32,33) */
$main-plus-one: #6B8696;   /* accents,buttons */
$main-plus-two: #DCE6EC;   /* font */

h1,
h2,
h3,
h4,
p, 
a,
ul, 
li,
footer {
  color: $main-plus-two
}

body,
header, 
footer {
  background-color: $main-color;
}

header{
  display: flex;
  div {
    .row {
      display: flex;
      padding: 15px;
      div,
      p {
        margin: 0 10px;
      }
    }
  }
}
  
footer {
  text-align: center;
}

// flexbox configuration

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; 
  .row {
    display: flex;
    .col {
      flex-shrink: 1;
      flex-grow: 1; 
      flex-basis: auto;
    }
    .col-1 {
      flex-basis: 8.33333333%;
    }
    .col-3 {
      flex-basis: 25%;
    }
    .col-4 {
      flex-basis: 33.3334%;
    }
    .col-6 {
      flex-basis: 50%;
    }
    .col-8 {
      flex-basis: 66.66666667%;
    }
    .col-9 {
      flex-basis: 75%;
    }
    .col-11 {
      flex-basis: 91.666666%
    }
    .col-12 {
      flex-basis: 100%;
      padding: 10px;
    }   
  }
}

// crop and center images 
.image-cropper {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border: solid 3px var(--main-plus-one);
  border-radius: 50%;
  margin: 0 auto;
}

/* for vertically-oriented images */
.round-img {
  height: auto; 
  width: 100%;
  margin: 0 auto;
}

/* for horizontally-oriented images */
.round-img-horiz {
  height: 100%; 
  width: auto;
  margin: 0 auto;
  margin-left: -25%;
}