$main-minus-two: #666B6E;
$main-minus-one: #25323B;
$main-color: #1F2021; /* rgb(31,32,33) */
$main-plus-one: #6B8696;   /* accents,buttons */
$main-plus-two: #DCE6EC;   /* font */

h1,
h2,
h3,
h4,
p, 
a,
ul, 
li,
header,
footer {
  color: $main-plus-two
}

body,
header, 
footer {
  background-color: $main-color;
}

header{
  display: flex;
  div {
    .row {
      display: flex;
      padding: 15px;
      div,
      p {
        margin: 0 10px;
      }
    }
  }
}
  
footer {
  text-align: center;
}


/* *************************************
FLEXBOX CONFIGURATION
**************************************** */

.row,
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; 
  .row {
    display: flex;
    .col {
      flex-shrink: 1;
      flex-grow: 1; 
      flex-basis: auto;
    }
    .col-1 {
      flex-basis: 8.33333333%;
    }
    .col-3 {
      flex-basis: 25%;
    }
    .col-4 {
      flex-basis: 33.3334%;
    }
    .col-6 {
      flex-basis: 50%;
    }
    .col-8 {
      flex-basis: 66.66666667%;
    }
    .col-9 {
      flex-basis: 75%;
    }
    .col-11 {
      flex-basis: 91.666666%
    }
    .col-12 {
      flex-basis: 100%;
      padding: 10px;
    }   
  }
}

aside {
  display: flex;
}

.row {
  .center-content {
    text-align: center;
  }
  .left-content {
    text-align: left;
  }
}

/* *************************************
COMMON ELEMENTS
**************************************** */

button,
.btn {
  color: $main-plus-two;
  background-color: $main-plus-one;
  border: none;
  font-weight: 600;
  padding: 0 48px;
  height: 48px;
  margin: auto 0;
  cursor: pointer;
}

ul {
  list-style: disc inside;
}

p, li {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}

.nested-list li {
  margin-left: 20px; 
}

.page-title {
  padding: 20px 0;
}

// crop and center images 
.image-cropper {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border: solid 3px $main-plus-one;
  border-radius: 50%;
  margin: 0 auto;
}

/* for vertically-oriented images */
.round-img {
  height: auto; 
  width: 100%;
  margin: 0 auto;
}

/* for horizontally-oriented images */
.round-img-horiz {
  height: 100%; 
  width: auto;
  margin: 0 auto;
  margin-left: -25%;
}

/* *************************************
BLOG & PORTFOLIO STYLING
blog class tags used on portfolio page for simplicity. Outlined in same format
**************************************** */

.portfolio h3 {
  text-decoration: underline;
  font-weight: normal; 
  text-align: center;
}

.year {
  font-size: 60%;
}

.blog-preview {
  height: auto;
  min-height: 300px;
  padding: 20px 0;
}

.blog-preview, 
.filter, 
.page-title,
aside > .row .center-content {
  border-bottom: rgb(90, 90, 90) 1px solid; 
}

.blog-preview .round-img {
  height: 100%; 
  width: 100%;
  margin: 0 auto;
}

.blog-preview .col-4 {
  margin: auto 0;
}

.blog-preview .col-8 {
  padding: 0 60px;
}

.post-preview {
  margin: auto 0;
}

.post-preview h2, .post-preview h3, .post-preview p, .blog-preview button {
  text-align: left;
  margin-bottom: 20px;
  text-decoration: none;
}

.prose, .prose-heading {
  padding: 15px 0;
}

.prose-heading {
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
}

.bold {
  font-weight: 1000;
}

.underline {
  text-decoration: underline;
}

/* image classes for blog posts to fit with prose */
/* for images that take up entire width of container in between prose, i.e. not inline. */
.block-img {
  display: block;
  margin: 10px auto;
}

.inline-left {
  float: left;
  padding-right: 20px;
  max-width: 400px; 
}

.inline-right {
  float: right;
  padding-left: 20px;
  max-width: 400px; 
}

.img-ribbon {
  text-align: center;
}

.img-ribbon img {
  max-height: 400px;
  padding: 20px; 
}